/********************  sm device  ********************/
/*****************************************************/
/* 1065px - because of size and number of menu items... */
@media (max-width: 1065px) {
  /*******  root variables  *******/
  :root {
    --header-height: 65px;
    --margin-left: 20px;
    --margin-right: 20px;
  }

  /*******  common  *******/
  .content-container {
    /* all content is left and right aligned, margins 20px */
    width: calc(100% - var(--margin-left) - var(--margin-right));
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
  }

  /*******  logo & navigation  *******/
  .my-header {
    position: relative;
  }

  .logo img {
    width: 120px;
  }

  nav {
    display: none;
    position: absolute;
    top: var(--header-height);
    width: calc(100% + var(--margin-left) + var(--margin-right));
    left: calc(var(--margin-left) * -1);
    background-color: var(--main-color-alpha9);
  }

  nav li {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: var(--my-gap);
  }

  .menu-icon-container {
    display: block;
    color: var(--my-white);
    font-size: 26px;
  }

  /*******  hero section  *******/
  .hero-section {
    max-height: 200px;
  }

  /*******  about us section  *******/
  .about-wrapper {
    flex-direction: column;
  }

  .about-box-one,
  .about-box-two {
    width: 100%;
    margin: 0;
  }

  .about-box-one h3 {
    margin-right: 0;
    text-align: left;
  }

  /*******  our team  *******/
  #team h2 {
    width: 100%;
  }

  .all-cards {
    justify-content: space-evenly;
  }

  /*******  photo gallery  *******/
  #gallery h2 {
    width: 100%;
  }

  .gallery-container .image-container .image {
    /* 2 pictures next to each other */
    width: calc((100% - var(--my-gap)) / 2);
    height: auto;
  }

  .gallery-container .popup-image span {
    font-size: 40px;
  }

  .gallery-container .popup-image .left {
    padding: 5px 10px;
    left: var(--my-gap);
  }

  .gallery-container .popup-image .right {
    padding: 5px 10px;
    right: var(--my-gap);
  }

  .gallery-container .popup-image img {
    width: 95%;
  }

  /*******  history  *******/
  #history h2 {
    width: 100%;
  }

  /*******  contact  *******/
  #contact h2 {
    width: 100%;
  }

  .contact-box {
    display: block;
  }

  .contact-separator {
    display: none;
  }

  /*******  footer  *******/
  .footer-wrapper {
    flex-direction: column-reverse;
    gap: calc(2 * var(--my-gap));
  }
}

/********************  xs device  ********************/
/*****************************************************/
/*******  photo gallery  *******/
@media (max-width: 450px) {
  .gallery-container .image-container .image {
    width: 75%;
    height: auto;
  }
}

/********************  md, lg, xl, xxl device  ********************/
/******************************************************************/
@media (min-width: 1065px) {
  /*******  logo & navigation  *******/
  nav {
    display: block !important;
  }
}

/********************  xxl device  ********************/
/******************************************************/

@media (min-width: 2000px) {
  /*******  hero section  *******/
  .hero-section {
    height: 650px;
  }
}
