/********************  root variables  ********************/
:root {
  --my-black: rgb(0, 0, 0);
  --my-white: rgb(255, 255, 255);
  --my-gray-light: rgb(187, 187, 187);
  --my-gray-dark: rgb(78, 80, 82);
  --bg-col: rgb(255, 255, 255);
  --main-color: rgb(206, 75, 39);
  --main-color-alpha9: rgb(206, 75, 39, 0.9);
  --main-color-alpha5: rgb(206, 75, 39, 0.5);
  --main-color-alpha1: rgb(206, 75, 39, 0.1);
  --link-hover-col: rgb(206, 75, 39);
  --header-height: 100px;
  --my-gap: 20px;
}

/********************  common properties  ********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-col);
}

.nonvisible {
  display: none;
}

.anchor {
  scroll-margin-top: var(--header-height);
}

.section-padding {
  padding-top: 30px;
  padding-bottom: 80px;
}

.content-container {
  /* all content is left and right aligned, margins 10% */
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1600px; /* max width for extra large device */
}

h1,
h2 {
  color: var(--main-color);
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: var(--my-gap);
  margin-bottom: calc(2 * var(--my-gap));
}

h2 {
  padding-top: var(--my-gap);
  padding-bottom: var(--my-gap);
}

h1::first-letter,
h2::first-letter {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 350;
  text-transform: uppercase;
  margin-top: var(--my-gap);
  margin-bottom: calc(2 * var(--my-gap));
}

h3::first-letter {
  font-size: 26px;
}

.highlited-text {
  font-weight: 600;
}

.my-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.my-button {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-out;
}

/********************  logo & navigation menu  ********************/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--main-color);
}

.my-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.logo {
  margin-top: 20px;
  margin-bottom: auto;
}

.logo a {
  display: inline-block;
}

.logo img {
  width: 200px;
  display: block;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: var(--my-gap);
}

nav li::first-letter {
  font-size: 22px;
}

.menu-item {
  color: var(--my-white);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 10px;
  transition: all 0.3s linear;
}

.menu-item:hover,
.menu-item.active {
  border: 2px solid var(--my-white);
  border-radius: 5px;
}

.menu-icon-container {
  display: none;
}

/********************  hero section  ********************/
.hero-section {
  background-image: url("./img/hero-img/peter-glaser-UVWULib2OHM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  transition: background-image 1s linear;
  z-index: 1;
  position: relative;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--my-gray-light);
  border: 1px solid var(--my-white);
  display: inline-block;
  z-index: 10;
  transition: all 1s linear;
}

.dot.active {
  background-color: var(--my-gray-dark);
}

/********************  about us  ********************/
.about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.about-box-one {
  width: 25%;
  text-align: left;
}

.about-box-one h3 {
  border-bottom: 5px solid var(--main-color);
  margin-right: 40px;
  text-align: right;
}

.about-box-two {
  text-align: justify;
  width: 75%;
  margin: var(--my-gap) 0 var(--my-gap) 0;
}

.about-box-two p {
  line-height: 1.5;
  padding-bottom: var(--my-gap);
}

.futsal-results-button-container {
  margin-top: var(--my-gap);
}

.futsal-results-button {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: var(--my-white);
  border: 2px solid var(--main-color);
  border-radius: 2px;
  padding: 10px 20px;
}

.futsal-results-button:hover {
  background-color: var(--main-color);
  color: var(--my-white);
}

/********************  our team  ********************/
#team {
  position: relative;
}

/* background image with opacity => use pseudo-class before */
#team::before {
  content: "";
  background-image: url("./img/hero-img/chaos-soccer-gear-Cjfl8r_eYxY-unsplash-black-and-white.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

#team h2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--my-white);
}

.all-cards {
  font-family: tahoma;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--my-gap);
}

.one-card {
  background-color: var(--my-white);
  text-align: center;
  position: relative;
  border: 1px solid var(--main-color-alpha5);
  width: 250px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.one-card .picture-container {
  display: inline-block;
  background-color: var(--main-color);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.one-card .picture-container .picture-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: all 0.9s ease;
}

.one-card:hover .picture-container .picture-img {
  box-shadow: 0 0 0 14px var(--my-white);
  transform: scale(0.7);
}

.one-card .name {
  font-size: 28px;
  font-weight: 500;
}

.one-card .position {
  color: var(--my-gray-dark);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.one-card .game-number {
  color: var(--my-white);
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  padding-top: 5px;
  padding-bottom: 5px;
  visibility: hidden;
}

.one-card:hover .game-number {
  visibility: visible;
}

.one-card .game-number .number-label {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.one-card .game-number .number {
  font-size: 22px;
  font-weight: 500;
  padding-left: 10px;
}

/********************  photo gallery  ********************/
#gallery {
  background-color: var(--bg-col);
}

#gallery h2 {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--my-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#gallery h3 {
  text-align: center;
  border-bottom: 5px solid var(--main-color);
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

.gallery-container {
  position: relative;
}

.gallery-container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--my-gap);
  justify-content: center;
}

.gallery-container .image-container .image {
  /* 3 pictures next to each other */
  width: calc((100% - (2 * var(--my-gap))) / 3);
  height: auto;
  border: 10px solid var(--my-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: zoom-in;
}

.gallery-container .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.gallery-container .image-container .image:hover img {
  transform: scale(1.2);
}

.gallery-container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.gallery-container .popup-image span {
  font-size: 60px;
  padding: 10px 20px;
  color: var(--my-white);
  cursor: pointer;
  z-index: 100;
}

.gallery-container .popup-image .close {
  position: absolute;
  top: 0;
  right: 0;
}

.gallery-container .popup-image .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-container .popup-image .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--my-white);
  border-radius: 5px;
  width: 75%;
  max-width: 1200px;
  object-fit: cover;
  cursor: zoom-out;
}

/********************  history  ********************/
#history {
  background-color: var(--bg-col);
  position: relative;
}

#history h2 {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--my-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#history .text {
  line-height: 1.5;
  text-align: justify;
  padding-bottom: var(--my-gap);
}

.all-tables {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: calc(3 * var(--my-gap));

  margin-top: calc(3 * var(--my-gap));
  margin-bottom: calc(2 * var(--my-gap));
}

.all-tables .table-container .table-title {
  text-align: center;
}

.all-tables .table-container .note {
  text-align: center;
  font-size: 16px;
  font-weight: 350;
  text-transform: uppercase;
  margin-top: calc(var(--my-gap) * -1.5);
  margin-bottom: calc(2 * var(--my-gap));
}

.all-tables table {
  border-collapse: collapse;
}

.all-tables table thead td {
  text-align: center;
  font-weight: 700;
  padding: 5px;
}

.all-tables table td {
  font-size: 12px;
  padding: 2px 5px 2px 5px;
}

.all-tables table td:nth-child(2) {
  text-align: left;
}

.all-tables table td:not(:nth-child(2)) {
  text-align: center;
}

.all-tables table .team-attack {
  background-color: var(--main-color);
  color: var(--my-white);
  font-weight: 700;
}

/********************  contact  ********************/
#contact {
  position: relative;
}

/* background image with opacity => use pseudo-class before */
#contact::before {
  content: "";
  background-image: url("./img/hero-img/peter-glaser-UVWULib2OHM-unsplash-black-and-white.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}

#contact h2 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--my-white);
}

.contact-wrapper {
  text-align: center;
  line-height: 2;
}

.contact-box {
  display: inline;
}

.contact-link {
  color: var(--my-black);
  text-decoration: none;
  font-size: 18px;
}

.contact-link:hover {
  text-decoration: underline;
  color: var(--link-hover-col);
}

.contact-separator {
  font-weight: 700;
  font-size: 22px;
}

.contact-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.contact-button {
  color: var(--main-color);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: var(--my-white);
  border: 1px solid var(--main-color);
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 190px;
  box-sizing: content-box;
}

.contact-button:hover {
  background-color: var(--main-color);
  color: var(--my-white);
  letter-spacing: 3px;
}

/********************  footer  ********************/
footer {
  background-color: var(--bg-col);
  padding-top: calc(2 * var(--my-gap));
  padding-bottom: calc(2 * var(--my-gap));
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-wrapper p {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  height: 50px;
}

.footer-wrapper img {
  max-height: 150px;
  max-width: 150px;
}

.contact-link-footer {
  color: var(--my-black);
  text-decoration: none;
}

.contact-link-footer:hover {
  text-decoration: underline;
  color: var(--link-hover-col);
}

.footer-one-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 200px;
  margin: var(--my-gap);
}

.footer-copyright {
  font-size: 12px;
  text-align: center;
  margin-top: calc(2 * var(--my-gap));
}

.footer-text {
  font-size: 12px;
  line-height: 1.5;
}
